.sidebar {
    width: 264px;
    border-radius: 20px;
    border: 1px solid #CFCFE4;
    padding: 12px;


    &__item.active {
        background: #5FBF77;
        color: white;
    }

    &__item {
        border-radius: 14px;
        font-weight: 700;
        padding: 12px;
        color: black;
        cursor: pointer;
    }
}